server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/moneyflow
    username: moneyflow
    password: moneyflow
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info